<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update Students</title>
</head>
<body>
    <h1>Update Register</h1>

    <form action="" method="POST">
        <input type="hidden" name="id" value="<%= student[0].id %>">
        <input type="text" name="name" value="<%= student[0].name %>" placeholder="Enter Name" ><br><br>
        <input type="email" name="email" value="<%= student[0].email %>" placeholder="Enter email" ><br><br>
        <input type="number" name="mno" value="<%= student[0].mno %>" placeholder="Enter number" ><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>

</body>
</html>

